# NAME : Alya Amer
# ROLL NO : 048
# SECTION BSDS : 3-A

In [1]:
import pandas as  pd 
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\alyaq\Desktop\BSDS Year 2\Modules\AI Lab\Student Mental health.csv")

In [3]:
df.describe()

             Age
count  100.00000
mean    20.53000
std      2.49628
min     18.00000
25%     18.00000
50%     19.00000
75%     23.00000
max     24.00000

In [4]:
df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [5]:
df.tail()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [8]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Timestamp: 92 unique values
Choose your gender: 2 unique values
Age: 7 unique values
What is your course?: 49 unique values
Your current year of Study: 7 unique values
What is your CGPA?: 6 unique values
Marital status: 2 unique values
Do you have Depression?: 2 unique values
Do you have Anxiety?: 2 unique values
Do you have Panic attack?: 2 unique values
Did you seek any specialist for a treatment?: 2 unique values

In [9]:
df.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [10]:
df.shape

(101, 11)

In [11]:
df =df.replace(0, np.nan)

In [12]:
null_values = np.sum(pd.isnull(df))
print("Total Null Values:", null_values)

Total Null Values: Timestamp                                       0
Choose your gender                              0
Age                                             1
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

c:\Users\alyaq\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [14]:
df['Timestamp'] = df['Timestamp'].fillna("Unknown")
df['Choose your gender'] = df['Choose your gender'].fillna("Not specified")
df['Age'] = df['Age'].fillna(df['Age'].median())   # numeric â†’ median

df['What is your course?'] = df['What is your course?'].fillna("Unknown")
df['Your current year of Study'] = df['Your current year of Study'].fillna("Unknown")
df['What is your CGPA?'] = df['What is your CGPA?'].fillna("Unknown")
df['Marital status'] = df['Marital status'].fillna("No")

df['Do you have Depression?'] = df['Do you have Depression?'].fillna("No")
df['Do you have Anxiety?'] = df['Do you have Anxiety?'].fillna("No")
df['Do you have Panic attack?'] = df['Do you have Panic attack?'].fillna("No")

df['Did you seek any specialist for a treatment?'] = df['Did you seek any specialist for a treatment?'].fillna("No")

In [17]:
df = df.drop('Marital status', axis=1)

In [18]:
df.dtypes

Timestamp                                        object
Choose your gender                               object
Age                                             float64
What is your course?                             object
Your current year of Study                       object
What is your CGPA?                               object
Do you have Depression?                          object
Do you have Anxiety?                             object
Do you have Panic attack?                        object
Did you seek any specialist for a treatment?     object
dtype: object

In [19]:

x = df.iloc[:, 0:-1]
print("X shape:", x.shape)

y = df.iloc[:, -1]
print("Y shape:", y.shape)

X shape: (101, 9)
Y shape: (101,)

In [20]:
# Find all object columns
cat_columns = df.select_dtypes(['object']).columns

# Convert them into integers
df[cat_columns] = df[cat_columns].apply(lambda col: pd.factorize(col)[0])

In [21]:
df.dtypes

Timestamp                                         int64
Choose your gender                                int64
Age                                             float64
What is your course?                              int64
Your current year of Study                        int64
What is your CGPA?                                int64
Do you have Depression?                           int64
Do you have Anxiety?                              int64
Do you have Panic attack?                         int64
Did you seek any specialist for a treatment?      int64
dtype: object