# Lab Task 11
## Name: Alya Amer
## Roll No: 048
## Class: BSDS 3-A

### Using Python version 1.12

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder


### Data Gathering : <a href="https://www.kaggle.com/datasets/shariful07/student-mental-health">Click Here

In [2]:
df = pd.read_csv(r"C:\Users\alyaq\Desktop\BSDS Year 2\Modules\AI Lab\Student Mental health.csv")
df

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric,What_is_your_course?_1,What_is_your_course?_2,...,What_is_your_course?_45,What_is_your_course?_46,What_is_your_course?_47,What_is_your_course?_48,Your_current_year_of_Study_Year 2,Your_current_year_of_Study_Year 3,Your_current_year_of_Study_year 1,Your_current_year_of_Study_year 2,Your_current_year_of_Study_year 3,Your_current_year_of_Study_year 4
0,0,18,3.245,0,0,1,0,3.245,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,21,3.245,1,1,0,0,3.245,False,False,...,False,False,False,False,False,False,False,True,False,False
2,1,19,3.245,0,1,1,0,3.245,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,22,3.245,1,0,0,0,3.245,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1,23,3.245,0,0,0,0,3.245,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,21,3.750,1,1,0,0,3.750,False,True,...,False,False,False,False,False,False,True,False,False,False
97,1,18,3.245,1,1,0,0,3.245,False,False,...,False,False,False,False,True,False,False,False,False,False
98,0,19,3.750,1,0,1,0,3.750,False,False,...,False,False,False,False,False,True,False,False,False,False
99,0,23,3.750,1,0,0,0,3.750,False,False,...,False,False,False,False,False,False,False,False,False,True
100,1,20,3.245,1,0,0,0,3.245,False,False,...,False,False,False,False,True,False,False,False,False,False

### Data Exploration

In [3]:
df.head(2)

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric,What_is_your_course?_1,What_is_your_course?_2,...,What_is_your_course?_45,What_is_your_course?_46,What_is_your_course?_47,What_is_your_course?_48,Your_current_year_of_Study_Year 2,Your_current_year_of_Study_Year 3,Your_current_year_of_Study_year 1,Your_current_year_of_Study_year 2,Your_current_year_of_Study_year 3,Your_current_year_of_Study_year 4
0,0,18,3.245,0,0,1,0,3.245,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,21,3.245,1,1,0,0,3.245,False,False,...,False,False,False,False,False,False,False,True,False,False

In [4]:
df.tail(2)

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric,What_is_your_course?_1,What_is_your_course?_2,...,What_is_your_course?_45,What_is_your_course?_46,What_is_your_course?_47,What_is_your_course?_48,Your_current_year_of_Study_Year 2,Your_current_year_of_Study_Year 3,Your_current_year_of_Study_year 1,Your_current_year_of_Study_year 2,Your_current_year_of_Study_year 3,Your_current_year_of_Study_year 4
99,0,23,3.750,1,0,0,0,3.750,False,False,...,False,False,False,False,False,False,False,False,False,True
100,1,20,3.245,1,0,0,0,3.245,False,False,...,False,False,False,False,True,False,False,False,False,False

In [5]:
df.columns

Index(['Choose_your_gender', 'Age', 'What_is_your_CGPA?',
       'Do_you_have_Depression?', 'Do_you_have_Anxiety?',
       'Do_you_have_Panic_attack?',
       'Did_you_seek_any_specialist_for_a_treatment?', 'CGPA_numeric',
       'What_is_your_course?_1', 'What_is_your_course?_2',
       'What_is_your_course?_3', 'What_is_your_course?_4',
       'What_is_your_course?_5', 'What_is_your_course?_6',
       'What_is_your_course?_7', 'What_is_your_course?_8',
       'What_is_your_course?_9', 'What_is_your_course?_10',
       'What_is_your_course?_11', 'What_is_your_course?_12',
       'What_is_your_course?_13', 'What_is_your_course?_14',
       'What_is_your_course?_15', 'What_is_your_course?_16',
       'What_is_your_course?_17', 'What_is_your_course?_18',
       'What_is_your_course?_19', 'What_is_your_course?_20',
       'What_is_your_course?_21', 'What_is_your_course?_22',
       'What_is_your_course?_23', 'What_is_your_course?_24',
       'What_is_your_course?_25', 'What_is_your_course?_26',
       'What_is_your_course?_27', 'What_is_your_course?_28',
       'What_is_your_course?_29', 'What_is_your_course?_30',
       'What_is_your_course?_31', 'What_is_your_course?_32',
       'What_is_your_course?_33', 'What_is_your_course?_34',
       'What_is_your_course?_35', 'What_is_your_course?_36',
       'What_is_your_course?_37', 'What_is_your_course?_38',
       'What_is_your_course?_39', 'What_is_your_course?_40',
       'What_is_your_course?_41', 'What_is_your_course?_42',
       'What_is_your_course?_43', 'What_is_your_course?_44',
       'What_is_your_course?_45', 'What_is_your_course?_46',
       'What_is_your_course?_47', 'What_is_your_course?_48',
       'Your_current_year_of_Study_Year 2',
       'Your_current_year_of_Study_Year 3',
       'Your_current_year_of_Study_year 1',
       'Your_current_year_of_Study_year 2',
       'Your_current_year_of_Study_year 3',
       'Your_current_year_of_Study_year 4'],
      dtype='object')

In [6]:
df.count()

Choose_your_gender                   101
Age                                  101
What_is_your_CGPA?                   101
Do_you_have_Depression?              101
Do_you_have_Anxiety?                 101
                                    ...
Your_current_year_of_Study_Year 3    101
Your_current_year_of_Study_year 1    101
Your_current_year_of_Study_year 2    101
Your_current_year_of_Study_year 3    101
Your_current_year_of_Study_year 4    101
Length: 62, dtype: int64

In [7]:
df.describe()

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.257426,20.504950,3.356287,0.910891,0.336634,0.326733,0.059406,3.356287
std,0.439397,2.496493,0.585152,0.286322,0.474915,0.471358,0.237562,0.585152
min,0.000000,18.000000,0.995000,0.000000,0.000000,0.000000,0.000000,0.995000
25%,0.000000,18.000000,3.245000,1.000000,0.000000,0.000000,0.000000,3.245000
50%,0.000000,19.000000,3.245000,1.000000,0.000000,0.000000,0.000000,3.245000
75%,1.000000,23.000000,3.750000,1.000000,1.000000,1.000000,0.000000,3.750000
max,1.000000,24.000000,3.750000,1.000000,1.000000,1.000000,1.000000,3.750000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 62 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Choose_your_gender                            101 non-null    int64
 1   Age                                           101 non-null    int64
 2   What_is_your_CGPA?                            101 non-null    float64
 3   Do_you_have_Depression?                       101 non-null    int64
 4   Do_you_have_Anxiety?                          101 non-null    int64
 5   Do_you_have_Panic_attack?                     101 non-null    int64
 6   Did_you_seek_any_specialist_for_a_treatment?  101 non-null    int64
 7   CGPA_numeric                                  101 non-null    float64
 8   What_is_your_course?_1                        101 non-null    bool
 9   What_is_your_course?_2                        101 non-null    bool
 10  What_is_your_course?_3                        101 non-null    bool
 11  What_is_your_course?_4                        101 non-null    bool
 12  What_is_your_course?_5                        101 non-null    bool
 13  What_is_your_course?_6                        101 non-null    bool
 14  What_is_your_course?_7                        101 non-null    bool
 15  What_is_your_course?_8                        101 non-null    bool
 16  What_is_your_course?_9                        101 non-null    bool
 17  What_is_your_course?_10                       101 non-null    bool
 18  What_is_your_course?_11                       101 non-null    bool
 19  What_is_your_course?_12                       101 non-null    bool
 20  What_is_your_course?_13                       101 non-null    bool
 21  What_is_your_course?_14                       101 non-null    bool
 22  What_is_your_course?_15                       101 non-null    bool
 23  What_is_your_course?_16                       101 non-null    bool
 24  What_is_your_course?_17                       101 non-null    bool
 25  What_is_your_course?_18                       101 non-null    bool
 26  What_is_your_course?_19                       101 non-null    bool
 27  What_is_your_course?_20                       101 non-null    bool
 28  What_is_your_course?_21                       101 non-null    bool
 29  What_is_your_course?_22                       101 non-null    bool
 30  What_is_your_course?_23                       101 non-null    bool
 31  What_is_your_course?_24                       101 non-null    bool
 32  What_is_your_course?_25                       101 non-null    bool
 33  What_is_your_course?_26                       101 non-null    bool
 34  What_is_your_course?_27                       101 non-null    bool
 35  What_is_your_course?_28                       101 non-null    bool
 36  What_is_your_course?_29                       101 non-null    bool
 37  What_is_your_course?_30                       101 non-null    bool
 38  What_is_your_course?_31                       101 non-null    bool
 39  What_is_your_course?_32                       101 non-null    bool
 40  What_is_your_course?_33                       101 non-null    bool
 41  What_is_your_course?_34                       101 non-null    bool
 42  What_is_your_course?_35                       101 non-null    bool
 43  What_is_your_course?_36                       101 non-null    bool
 44  What_is_your_course?_37                       101 non-null    bool
 45  What_is_your_course?_38                       101 non-null    bool
 46  What_is_your_course?_39                       101 non-null    bool
 47  What_is_your_course?_40                       101 non-null    bool
 48  What_is_your_course?_41                       101 non-null    bool
 49  What_is_your_course?_42                       101 non-null    bool
 50  What_is_your_course?_43                       101 non-null    bool
 51  What_is_your_course?_44                       101 non-null    bool
 52  What_is_your_course?_45                       101 non-null    bool
 53  What_is_your_course?_46                       101 non-null    bool
 54  What_is_your_course?_47                       101 non-null    bool
 55  What_is_your_course?_48                       101 non-null    bool
 56  Your_current_year_of_Study_Year 2             101 non-null    bool
 57  Your_current_year_of_Study_Year 3             101 non-null    bool
 58  Your_current_year_of_Study_year 1             101 non-null    bool
 59  Your_current_year_of_Study_year 2             101 non-null    bool
 60  Your_current_year_of_Study_year 3             101 non-null    bool
 61  Your_current_year_of_Study_year 4             101 non-null    bool
dtypes: bool(54), float64(2), int64(6)
memory usage: 11.8 KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 101 and Number of Columns: 62

In [10]:
df['Age'].unique()

array([18, 21, 19, 22, 23, 20, 24], dtype=int64)

In [11]:
df.nunique()

Choose_your_gender                   2
Age                                  7
What_is_your_CGPA?                   5
Do_you_have_Depression?              2
Do_you_have_Anxiety?                 2
                                    ..
Your_current_year_of_Study_Year 3    2
Your_current_year_of_Study_year 1    2
Your_current_year_of_Study_year 2    2
Your_current_year_of_Study_year 3    2
Your_current_year_of_Study_year 4    2
Length: 62, dtype: int64

In [12]:
df.isnull().sum()

Choose_your_gender                   0
Age                                  0
What_is_your_CGPA?                   0
Do_you_have_Depression?              0
Do_you_have_Anxiety?                 0
                                    ..
Your_current_year_of_Study_Year 3    0
Your_current_year_of_Study_year 1    0
Your_current_year_of_Study_year 2    0
Your_current_year_of_Study_year 3    0
Your_current_year_of_Study_year 4    0
Length: 62, dtype: int64

### Data Pre-Processing

### Manage Null Values

In [13]:
df = df.drop('CGPA_numeric', axis=1)

In [24]:
df = df.drop('Your_current_year_of_Study_year 4', axis=1)

In [ ]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = [
    'Choose your gender',
    'What is your course?',
    'Your current year of Study'
]

fillnaObjectMode(columns)

In [ ]:
def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = [
    "Choose your gender",
    "Age",
    "What is your course?",
    "Your current year of Study",
    "What is your CGPA?",
    "Do you have Depression?",
    "Do you have Anxiety?"
]

fillnaIntMode(columns)

### Code to convert CGPA ranges into numeric midpoints

In [ ]:
def convert_cgpa_range(x):
    if pd.isna(x):
        return None
    parts = x.split("-")
    low = float(parts[0])
    high = float(parts[1])
    return (low + high) / 2

df["What is your CGPA?"] = df["What is your CGPA?"].apply(convert_cgpa_range)

In [ ]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ["Age", "What is your CGPA?"]

fillnaFloatMean(columns)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Choose your gender                            101 non-null    object
 1   Age                                           101 non-null    float64
 2   What is your course?                          101 non-null    object
 3   Your current year of Study                    101 non-null    object
 4   What is your CGPA?                            101 non-null    float64
 5   Do you have Depression?                       101 non-null    object
 6   Do you have Anxiety?                          101 non-null    object
 7   Do you have Panic attack?                     101 non-null    object
 8   Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(2), object(7)
memory usage: 7.2+ KB

### Manage Data Types

In [ ]:
df['Age'] = df['Age'].astype('int64')

In [ ]:
def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Age']  

changeFloatToInt(columns)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Choose your gender                            101 non-null    object
 1   Age                                           101 non-null    int64
 2   What is your course?                          101 non-null    object
 3   Your current year of Study                    101 non-null    object
 4   What is your CGPA?                            101 non-null    float64
 5   Do you have Depression?                       101 non-null    object
 6   Do you have Anxiety?                          101 non-null    object
 7   Do you have Panic attack?                     101 non-null    object
 8   Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.2+ KB

### The fix: normalize all column names by removing spaces, non-breaking spaces, and making them consistent:

In [ ]:
df.columns = df.columns.str.strip().str.replace('\xa0','').str.replace(' ', '_')

In [ ]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i: df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))   
        df[i] = data_LE.transform(df[i])

columns = ['Choose_your_gender', 
           'Do_you_have_Depression?', 
           'Do_you_have_Anxiety?', 
           'Do_you_have_Panic_attack?', 
           'Did_you_seek_any_specialist_for_a_treatment?']

convertObjToInt(columns)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 62 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Choose_your_gender                            101 non-null    int64
 1   Age                                           101 non-null    int64
 2   What_is_your_CGPA?                            101 non-null    float64
 3   Do_you_have_Depression?                       0 non-null      float64
 4   Do_you_have_Anxiety?                          101 non-null    int64
 5   Do_you_have_Panic_attack?                     101 non-null    int64
 6   Did_you_seek_any_specialist_for_a_treatment?  101 non-null    int64
 7   CGPA_numeric                                  101 non-null    float64
 8   What_is_your_course?_1                        101 non-null    bool
 9   What_is_your_course?_2                        101 non-null    bool
 10  What_is_your_course?_3                        101 non-null    bool
 11  What_is_your_course?_4                        101 non-null    bool
 12  What_is_your_course?_5                        101 non-null    bool
 13  What_is_your_course?_6                        101 non-null    bool
 14  What_is_your_course?_7                        101 non-null    bool
 15  What_is_your_course?_8                        101 non-null    bool
 16  What_is_your_course?_9                        101 non-null    bool
 17  What_is_your_course?_10                       101 non-null    bool
 18  What_is_your_course?_11                       101 non-null    bool
 19  What_is_your_course?_12                       101 non-null    bool
 20  What_is_your_course?_13                       101 non-null    bool
 21  What_is_your_course?_14                       101 non-null    bool
 22  What_is_your_course?_15                       101 non-null    bool
 23  What_is_your_course?_16                       101 non-null    bool
 24  What_is_your_course?_17                       101 non-null    bool
 25  What_is_your_course?_18                       101 non-null    bool
 26  What_is_your_course?_19                       101 non-null    bool
 27  What_is_your_course?_20                       101 non-null    bool
 28  What_is_your_course?_21                       101 non-null    bool
 29  What_is_your_course?_22                       101 non-null    bool
 30  What_is_your_course?_23                       101 non-null    bool
 31  What_is_your_course?_24                       101 non-null    bool
 32  What_is_your_course?_25                       101 non-null    bool
 33  What_is_your_course?_26                       101 non-null    bool
 34  What_is_your_course?_27                       101 non-null    bool
 35  What_is_your_course?_28                       101 non-null    bool
 36  What_is_your_course?_29                       101 non-null    bool
 37  What_is_your_course?_30                       101 non-null    bool
 38  What_is_your_course?_31                       101 non-null    bool
 39  What_is_your_course?_32                       101 non-null    bool
 40  What_is_your_course?_33                       101 non-null    bool
 41  What_is_your_course?_34                       101 non-null    bool
 42  What_is_your_course?_35                       101 non-null    bool
 43  What_is_your_course?_36                       101 non-null    bool
 44  What_is_your_course?_37                       101 non-null    bool
 45  What_is_your_course?_38                       101 non-null    bool
 46  What_is_your_course?_39                       101 non-null    bool
 47  What_is_your_course?_40                       101 non-null    bool
 48  What_is_your_course?_41                       101 non-null    bool
 49  What_is_your_course?_42                       101 non-null    bool
 50  What_is_your_course?_43                       101 non-null    bool
 51  What_is_your_course?_44                       101 non-null    bool
 52  What_is_your_course?_45                       101 non-null    bool
 53  What_is_your_course?_46                       101 non-null    bool
 54  What_is_your_course?_47                       101 non-null    bool
 55  What_is_your_course?_48                       101 non-null    bool
 56  Your_current_year_of_Study_Year 2             101 non-null    bool
 57  Your_current_year_of_Study_Year 3             101 non-null    bool
 58  Your_current_year_of_Study_year 1             101 non-null    bool
 59  Your_current_year_of_Study_year 2             101 non-null    bool
 60  Your_current_year_of_Study_year 3             101 non-null    bool
 61  Your_current_year_of_Study_year 4             101 non-null    bool
dtypes: bool(54), float64(3), int64(5)
memory usage: 11.8 KB

In [ ]:
df.head(2)

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric,What_is_your_course?_1,What_is_your_course?_2,...,What_is_your_course?_45,What_is_your_course?_46,What_is_your_course?_47,What_is_your_course?_48,Your_current_year_of_Study_Year 2,Your_current_year_of_Study_Year 3,Your_current_year_of_Study_year 1,Your_current_year_of_Study_year 2,Your_current_year_of_Study_year 3,Your_current_year_of_Study_year 4
0,0,18,3.245,NaN,0,1,0,3.245,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,21,3.245,NaN,1,0,0,3.245,False,False,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
df.to_csv('Student Mental health.csv', index=False, header=True)

In [ ]:
df = pd.read_csv('Student Mental health.csv')
df

,Choose_your_gender,Age,What_is_your_CGPA?,Do_you_have_Depression?,Do_you_have_Anxiety?,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_numeric,What_is_your_course?_1,What_is_your_course?_2,...,What_is_your_course?_45,What_is_your_course?_46,What_is_your_course?_47,What_is_your_course?_48,Your_current_year_of_Study_Year 2,Your_current_year_of_Study_Year 3,Your_current_year_of_Study_year 1,Your_current_year_of_Study_year 2,Your_current_year_of_Study_year 3,Your_current_year_of_Study_year 4
0,0,18,3.245,NaN,0,1,0,3.245,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,21,3.245,NaN,1,0,0,3.245,False,False,...,False,False,False,False,False,False,False,True,False,False
2,1,19,3.245,NaN,1,1,0,3.245,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,22,3.245,NaN,0,0,0,3.245,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1,23,3.245,NaN,0,0,0,3.245,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,21,3.750,NaN,1,0,0,3.750,False,True,...,False,False,False,False,False,False,True,False,False,False
97,1,18,3.245,NaN,1,0,0,3.245,False,False,...,False,False,False,False,True,False,False,False,False,False
98,0,19,3.750,NaN,0,1,0,3.750,False,False,...,False,False,False,False,False,True,False,False,False,False
99,0,23,3.750,NaN,0,0,0,3.750,False,False,...,False,False,False,False,False,False,False,False,False,True
100,1,20,3.245,NaN,0,0,0,3.245,False,False,...,False,False,False,False,True,False,False,False,False,False

### Train - Test Splitting

In [ ]:
import pandas as pd
df = pd.read_csv('Student Mental health.csv')
df.columns

Index(['Choose_your_gender', 'Age', 'What_is_your_CGPA?',
       'Do_you_have_Depression?', 'Do_you_have_Anxiety?',
       'Do_you_have_Panic_attack?',
       'Did_you_seek_any_specialist_for_a_treatment?', 'CGPA_numeric',
       'What_is_your_course?_1', 'What_is_your_course?_2',
       'What_is_your_course?_3', 'What_is_your_course?_4',
       'What_is_your_course?_5', 'What_is_your_course?_6',
       'What_is_your_course?_7', 'What_is_your_course?_8',
       'What_is_your_course?_9', 'What_is_your_course?_10',
       'What_is_your_course?_11', 'What_is_your_course?_12',
       'What_is_your_course?_13', 'What_is_your_course?_14',
       'What_is_your_course?_15', 'What_is_your_course?_16',
       'What_is_your_course?_17', 'What_is_your_course?_18',
       'What_is_your_course?_19', 'What_is_your_course?_20',
       'What_is_your_course?_21', 'What_is_your_course?_22',
       'What_is_your_course?_23', 'What_is_your_course?_24',
       'What_is_your_course?_25', 'What_is_your_course?_26',
       'What_is_your_course?_27', 'What_is_your_course?_28',
       'What_is_your_course?_29', 'What_is_your_course?_30',
       'What_is_your_course?_31', 'What_is_your_course?_32',
       'What_is_your_course?_33', 'What_is_your_course?_34',
       'What_is_your_course?_35', 'What_is_your_course?_36',
       'What_is_your_course?_37', 'What_is_your_course?_38',
       'What_is_your_course?_39', 'What_is_your_course?_40',
       'What_is_your_course?_41', 'What_is_your_course?_42',
       'What_is_your_course?_43', 'What_is_your_course?_44',
       'What_is_your_course?_45', 'What_is_your_course?_46',
       'What_is_your_course?_47', 'What_is_your_course?_48',
       'Your_current_year_of_Study_Year 2',
       'Your_current_year_of_Study_Year 3',
       'Your_current_year_of_Study_year 1',
       'Your_current_year_of_Study_year 2',
       'Your_current_year_of_Study_year 3',
       'Your_current_year_of_Study_year 4'],
      dtype='object')

In [ ]:
X = df.drop('Age', axis=1)   
y = df['Age']

In [ ]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [ ]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(70, 61) (70,)
(31, 61) (31,)

### Model Training

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv(r"C:\Users\alyaq\Desktop\BSDS Year 2\Modules\AI Lab\Student Mental health.csv")

df = df.dropna(subset=['Do_you_have_Depression?'])

X = df.drop(columns=['Do_you_have_Depression?'])
y = df['Do_you_have_Depression?']

for col in X.select_dtypes(include='object').columns:
    X[col] = X[col].astype('category').cat.codes

X = X.fillna(0)

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [ ]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score

model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc, 3) * 100, "%")

81.0 %

In [ ]:
import pickle

pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [ ]:
import pickle

model_svc = pickle.load(open('model_svc.pkl', 'rb'))